# Camunda SaaS connection (OAuth)
CAMUNDA_REST_ADDRESS=
CAMUNDA_AUTH_STRATEGY=OAUTH
CAMUNDA_CLIENT_ID=
CAMUNDA_CLIENT_SECRET=
CAMUNDA_OAUTH_URL=https://login.cloud.camunda.io/oauth/token
CAMUNDA_TOKEN_AUDIENCE=zeebe.camunda.io

# If using local Camunda 8 Run instead of SaaS, set:
# CAMUNDA_AUTH_STRATEGY=NONE
